<h1>Bird Sightings</h1>

<div class="new-bird">

    <h2>Add a New Bird</h2>

    <form method="POST" action="/addBird">

        Name:           <input name="name" required>              <br>
        Description:    <input name="description">                <br>
        Average Eggs:   <input name="averageEggs" type="number" min="1" max="50">  <br>
        Endangered?     <input name="endangered" value="true" type="checkbox">     <br>  <!-- value="true" is the value sent to the server if the checkbox is checked. If the checkbox is not checked, then no key-value pair for endangered is sent -->
        Nest Materials: <input name="nestMaterials">              <br>
        Nest Location:  <input name="nestLocation">               <br>
        <button type=submit>Submit</button>
    </form>

    <div class="flash-errors">

        {{#if messages}}

            <p class="error-message">{{messages.error}}</p>

        {{/if}}

    </div>

</div>

<div class="bird-name-list">
    <h2>Bird List</h2>

    {{#each birds}}

        <h3>{{this.name}}</h3>
        {{this.description}}
    <br>

        <p><a href="/bird/{{this.id}}">{{this.name}} info and sightings</a></p>

    {{else}}

        <P>No birds in the database</p>

    {{/each}}

</div>